B2B auto.json
{
  "name": "B2B auto",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1600,
        384
      ],
      "id": "bc0cc526-3ed2-4976-acfd-3dcdc7e80e54",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1PXu1s80i8AnDaMylIelH6im0NNHs0iEKi7EsIWAryNs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PXu1s80i8AnDaMylIelH6im0NNHs0iEKi7EsIWAryNs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Linkedin url",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        0
      ],
      "id": "ab901483-f3b6-40a7-9173-6e2afc24e7f9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "w8QXGpmuaFScVKpP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=You are a business analyst expert. Analyze the company based on the website: {{ $json.Website }}\n\nSTRICT RULES:\n1. All responses MUST be in English.\n2. Use your search tool to find the official LinkedIn company page URL.\n3. Use your search tool to estimate the Employee Count (e.g., \"10-50\", \"500-1000\", or \"10,000+\").\n\nFill the data according to these categories:\n- linkedin_url: The official LinkedIn URL.\n- employee_count: Estimated number of employees.\n- market: Primary Geo Market (Global, EU, LATAM, Asia).\n- revenue_model: B2B, B2C, or Hybrid.\n- role: Brand / Operator, Vendor / Infrastructure, Platform, or Agency.\n- description: One concise sentence in English about what they sell.\n- audience_reliance: Does the company rely on live-streaming audience (Twitch/Kick)? (Yes, directly / Yes, indirectly / No).\n- relevant_services: Which of our services fit them? (e.g., PR / visibility, Consulting, Audience growth).\n- outreach: One professional cold outreach sentence starting with \"We help...\".\n- confidence: High, Medium, or Low.\n- sources_used: List the tools and websites you used to find this information (e.g., SerpApi, Company Website, LinkedIn).\n\nReturn results ONLY as a valid JSON object.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        16
      ],
      "id": "25b58947-33d4-4c55-a39b-09c20c1e4167",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "71fa19f0-9451-4734-9a1d-7910afb38146",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1264,
        192
      ],
      "id": "cbd0a161-8538-441d-9b00-980adc438476",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "QatvxSQ2knWdGRaD",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        16
      ],
      "id": "7d5103fc-b8ac-48b4-90a1-5ab5bbbede03",
      "name": "Wait",
      "webhookId": "9a6731c8-39e9-40dc-ae6b-91a7b9fdefb9"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1088,
        192
      ],
      "id": "545292d1-1f9e-4b4b-9de9-86629d5adee2",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "CJihK3wb7xWkofCi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PXu1s80i8AnDaMylIelH6im0NNHs0iEKi7EsIWAryNs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PXu1s80i8AnDaMylIelH6im0NNHs0iEKi7EsIWAryNs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Linkedin url": "={{ $json.output.linkedin_url }}",
            "Employee Count": "={{ $json.output.employee_count }}",
            "Primary Geo Market": "={{ $json.output.market }}",
            "Revenue Model": "={{ $json.output.revenue_model }}",
            "Company role": "={{ $json.output.role }}",
            "What they sell / offer?": "={{ $json.output.description }}",
            "Do they rely on audience attention?": "={{ $json.output.audience_reliance }}",
            "Relevant Services": "={{ $json.output.relevant_services }}",
            "One-Sentence Outreach": "={{ $json.output.outreach }}",
            "Relevance Confidence": "={{ $json.output.confidence }}",
            "Sources used": "={{ $json.output.sources_used }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin url",
              "displayName": "Linkedin url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count",
              "displayName": "Employee Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Geo Market",
              "displayName": "Primary Geo Market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue Model",
              "displayName": "Revenue Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company role",
              "displayName": "Company role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What they sell / offer?",
              "displayName": "What they sell / offer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Do they rely on audience attention?",
              "displayName": "Do they rely on audience attention?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevant Services",
              "displayName": "Relevant Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "One-Sentence Outreach",
              "displayName": "One-Sentence Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance Confidence",
              "displayName": "Relevance Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sources used",
              "displayName": "Sources used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        176
      ],
      "id": "3076031b-8774-425b-b2f8-c5756d274f40",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "w8QXGpmuaFScVKpP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"linkedin_url\": \"...\",\n  \"employee_count\": \"...\",\n  \"market\": \"...\",\n  \"revenue_model\": \"...\",\n  \"role\": \"...\",\n  \"description\": \"...\",\n  \"audience_reliance\": \"...\",\n  \"relevant_services\": \"...\",\n  \"outreach\": \"...\",\n  \"confidence\": \"...\",\n  \"sources_used\": \"Google Search, official website, LinkedIn\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1376,
        192
      ],
      "id": "6de68868-6f3b-4d9b-afd5-709714c4000a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Основний блок логіки",
        "height": 688,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -64
      ],
      "typeVersion": 1,
      "id": "10ea92e7-97c9-478d-b801-febbf418cde4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        192
      ],
      "id": "39d5ee4f-c835-4c44-9c6a-fc8612811072",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TgsYoIBn5u9J55Qr",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cb02e5e4-e309-43f8-b87a-f86d32de2952",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0617bde93ac91efa1202fa1f1f957b35ec3143c44589a28fc4f2e04c9f32e690"
  },
  "id": "I7uVS6mPECIEDs0IVnHP7",
  "tags": []
}